.contact {
    width:50%;
    margin:60px auto;
}

.contact .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    margin: 20px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
}

.contact .social .icon {
    text-align:center;
}

.contact .social .icon svg {
    color:#fa843f;
    font-size:2rem
}

.contact .social .link {
    margin:0 50px;
}
.contact .social .link a {
    color:#475861;
    text-decoration: revert;
}


@media (max-width:770px) {

    .contact {
    width:100%;
}

.contact h4 {
    text-align: center;
    margin-bottom: 50px;
}

.contact .social {
       padding-right: 25%;
}



}