

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}



.products {
  margin: 60px 0;
}



 .titleSection {
     color: #555e629c;
    padding: 0 10px;
    font-size: 30px;
    margin-bottom: 20px;
}



